body {
    background-color: #fff;
}
.header {
    padding: 4% 15% 4%;
}

.nav-item{
    font-family: 'Titan One', cursive;
    font-size: 1.2rem;
    padding-right: 30px;
}

.brand-name {
    font-family: 'Titan One', cursive;
    font-size: 2rem;
    color: #fff;
}

.top-container-photo{
    width: 60%;
}

.main-text{
    text-align: center;
    padding-top: 6%;
    padding-left: 15%;
}

.signing-container{
    margin-top: 7%;
    text-align: center;
}

.sign-button{
    width: 350px;

}

.row {
    margin-right: 0;
    margin-left: 0;
}

.welcome-text {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    padding-left: auto;
}

.adding-page{
    margin-top: 5%;
    text-align: center;
}

.user-table-data{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-button-submit {
    width: 100%;
}

.user-data{
    width: 50%;
    margin: auto;
}

@media (max-width: 1000px){
    .top_container{
        text-align: center;
    }
    .main-text{
        text-align: center;
        padding-top: 6%;
        padding-left: 0;
    }
}